.bgback{
    background-image: url('../Images/back.jpg');
    background-position: center;
    background-size: cover;
}
.bghome{
    background-image: url('../Images/logo3.png');
    background-position: center;
    background-size: cover;
}

.bgwebsite{
    background: linear-gradient(
        114.07deg,
        rgba(66, 59, 55, 0.6) 3.49%,
        rgba(66, 59, 55, 0) 34.7%
      ),
      linear-gradient(138.58deg, rgba(59, 43, 30, 0.37) 43.56%, #fea767 112.68%);
    flex: 1;
    border-radius: 10px;
    padding: 16px;
}