.service-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
 
  }
  
  .header {
    background-color: #101011;
    color: white;
    padding: 40px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .services-list {
    padding: 20px;
    text-align: center;
  }
  
  .services-list h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #f8f8f8;
  }
  
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .service-item {
    background: linear-gradient(
      114.07deg,
      rgba(66, 59, 55, 0.6) 3.49%,
      rgba(66, 59, 55, 0) 34.7%
    ),
    linear-gradient(138.58deg, rgba(59, 43, 30, 0.37) 43.56%, #fea767 112.68%);
  flex: 1;
  border-radius: 10px;
  padding: 16px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .service-item h3 {
    color: #e3d5d5;
  }
  
  .service-item p {
    color: #eb9008;
  }
  
  .footer {
    background-color: #242121;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
  }
  
  @media (max-width: 768px) {
    .services {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 480px) {
    .services {
      grid-template-columns: 1fr;
    }
  }
  